__pycache__
Pipfile
Pipfile.lock
scratch*
.idea
build
dist
venv

# Nosetests files
cover/
.coverage

# Ignore Vscode files
.vscode

*.egg-info/
.noseids
nosetests.xml

.*_cache

test.py
.env

/target

# rust so
*.cpython*.so

.codspeed